<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Burger</title>
</head>
<body>
    <h1>Realize uma sugestão</h1>
    <p>Identifique-se</p>
    <form method="POST" action="/contato">
        <input type="text" name="nome", placeholder="Seu nome completo"><br><br>
        <input type="text" name="email", placeholder="Seu e-mail"><br><br>
        <input type="text" name="assunto", placeholder="Assunto"><br><br>
        <input type="text" name="mensagem", placeholder="Mensagem"><br><br>
        <button action="submit"> Enviar mensagem</button>
    </form>
    <a href="/"><p>retornar a página inicial</p></a>
</body>
</html>